<section class="box" >  
    <main>
        <figcaption>
            <aside>
                <i class="ri-team-fill"></i>
            </aside>
        </figcaption>
        <div>
            <h3> 22,376 </h3>
            <p>learner</p>
        </div>
    </main>
    <main>
        <figcaption>
            <aside>
                <i class="ri-map-2-fill"></i>
            </aside>
        </figcaption>
        <div>
            <h3>egypt, portsaid</h3>
            <p>location</p>
        </div>
    </main>
    <main>
        <figcaption>
            <aside>
                <i class="ri-calendar-todo-fill"></i>
            </aside>
        </figcaption>
        <div>
            <h3> 1/3/2022 </h3>
            <p>next event</p>
        </div>
    </main>

</section>