<figcaption>
  <nav>
    <section class="box">
      <app-slider></app-slider>
      <app-header></app-header>
    </section>
  </nav>
</figcaption>
<main class="box">
  <app-notes></app-notes>
</main>
<aside>
  <app-mathmatics></app-mathmatics>
</aside>
<div class="box">
  <h2>the new tutorials of 2022 here</h2>
  <p>
    you will find some courses with littels description to know how to start in
    your education of any path you want to learn good luck to eavry one
  </p>
</div>
<app-subscrib></app-subscrib>

<app-icon></app-icon>

<footer>
  made by
  <a target="_blank" href="https://www.linkedin.com/in/randa-mohamed1295/" >Randa Mohamed</a>
</footer>
